In [1]:
import numpy as np
import matplotlib.pyplot as plt
import time

from Tight_Binding.tight_binding.extract_parameter import input_data
from Tight_Binding.tight_binding.extract_parameter import extract_parameter
from Tight_Binding.tight_binding.hamiltonian import hamiltonian
from Tight_Binding.tight_binding.hamiltonian import multiple_hamiltonian

# Import Data

In [2]:
loc_parameter = "Data/SrNbO3/hr_files/srnbo3_hr_4x4x4.dat"
loc_atom_position = "Data/SrNbO3/atomic_position.csv"
loc_orbital_index = "Data/SrNbO3/orbital_index.csv"

In [3]:
parameter = input_data(loc_parameter, loc_atom_position, loc_orbital_index, 
           a = 4.089,
           b = 4.089,
           c = 4.089)

In [4]:
parameter.get_parameter_TB().head()

   X  Y  Z  A  B        Re        Im
0 -7 -7 -7  1  1  0.000054 -0.000014
1 -7 -7 -7  2  1  0.000008 -0.000006
2 -7 -7 -7  3  1 -0.000063  0.000095
3 -7 -7 -7  4  1 -0.000006 -0.000074
4 -7 -7 -7  5  1 -0.000036  0.000030

In [5]:
input_hamiltonian = parameter.vec_lattice()
input_hamiltonian.head()

   X  Y  Z  A  B        Re        Im      Rx      Ry      Rz
0 -7 -7 -7  1  1  0.000054 -0.000014 -28.623 -28.623 -28.623
1 -7 -7 -6  1  1  0.000041 -0.000020 -28.623 -28.623 -24.534
2 -7 -7 -5  1  1  0.000011 -0.000043 -28.623 -28.623 -20.445
3 -7 -7 -4  1  1 -0.000042 -0.000013 -28.623 -28.623 -16.356
4 -7 -7 -3  1  1 -0.000041  0.000011 -28.623 -28.623 -12.267

# Future Improvements

k = [2.0,2.0,2.0]

start = time.time()
ham_before = hamiltonian(k, input_hamiltonian)
print(time.time() - start, "Detik")

print(ham_before[3,13], ham_before[13,3])

k = [2.0,2.0,2.0]

start = time.time()
ham_after = hamiltonian(k, input_hamiltonian)
print(time.time() - start, "Detik")

print(ham_after[3,13], ham_after[13,3])

# Multiple kpoints

In [6]:
k_grid = np.ones(shape=(8,3))

## Before

In [7]:
start = time.time()
ham_before = multiple_hamiltonian(k_grid, input_hamiltonian, hamiltonian)
print(time.time() - start, "Detik")
print(ham_before[3,3,13], ham_before[3,13,3])

24.39089298248291 Detik
(0.019354449992405116+0.11637411719308205j) (0.01935444999240512-0.11637411719308215j)

## After

In [8]:
start = time.time()
ham_before = multiple_hamiltonian(k_grid, input_hamiltonian, hamiltonian)
print(time.time() - start, "Detik")
print(ham_before[3,3,13], ham_before[3,13,3])

6.834848165512085 Detik
(0.01935444999240512+0.11637411719308206j) (0.019354449992405105-0.11637411719308209j)